<%= render "shared/alerts" %>

<aside class="menu">
  <p class="menu-label">
    <span class='title'>Tools <i class="fa fa-cog" aria-hidden="true"></i></span>
  </p>
  <p class="menu-label">
    Grépon's tools
  </p>
  <ul class="menu-list">
    <li>
      <a href='/tools/password'>Password generator <i class="fa fa-lock" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href='/tools/csr'>CSR decoder <i class="fa fa-certificate" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href='/tools/dig'>Dig <i class="fa fa-sitemap" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href='/tools/dnspropagation'>DNS Propagation <i class="fa fa-sitemap" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href='/tools/base64'>Base64 encoder/decoder <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
    </li>
  </ul>
  <p class="menu-label">
    External
  </p>
  <ul class="menu-list">
    <li><a target='_blank' href='https://www.ssllabs.com/ssltest/'>Qualys SSL Labs <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
    <li><a target='_blank' href='https://cryptcheck.fr/'>Cryptcheck <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
  </ul>
</aside>
