<p>
  <%= link_to 'Back', domain_path %>
</p>

<p class='title'><%= @domain.fqdn %></p>
Last update : <%= @lastupdate %>
  <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/whois/update/#{@domain.id}" %>

<p>
  Whois record :
  <pre class='whois'><%= @whois&.value %></pre>
</p>

