<p>
  <%= link_to 'Back', '/tools' %>
</p>

<p class='title'>Base64 encoder/decoder</p>

<%= form_with url: "/tools/base64/encode", method: :post do |form| %>
  <div class="field">
    <label class="label">Encode a text</label>
    <div class="control">
      <%= form.text_area :b64en, class: 'textarea is-primary',
        placeholder: "The text\nto encode\nto base64" %><br/>
    </div>
    <%= form.submit "Encode", class: 'button is-primary' %>
  </div>
<% end %>

<%= form_with url: "/tools/base64/decode", method: :post do |form| %>
  <div class="field">
    <label class="label">Decode a base64</label>
    <div class="control">
      <%= form.text_area :b64de, class: 'textarea is-primary',
        placeholder: "The base64\nto decode\nto text" %><br/>
    </div>
    <%= form.submit "Decode", class: 'button is-primary' %>
  </div>
<% end %>
