<p>
  <%= link_to 'Back', '/tools' %>
</p>

<%= render "shared/alerts" %>

<p>
  <p class='title'>Dig</p>
</p>

<%= form_with url: "/tools/dig", method: :post do |form| %>
  <%= form.label :fqdn, 'Domain name' %>
  <%= form.text_field :fqdn, placeholder: "yourdomain.com", class: 'input is-primary has-text-centered' %>
  <%= form.submit 'Show', class: 'button is-primary' %>
<% end %>
