<p>
  <%= link_to 'Back', '/tools/dig' %>
</p>

<p>
  <p class='title'>Dig</p>
</p>



<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |key| %>
        <tr>
          <td><%= key[0] %></td>
          <td>
            <% key[1].each do |value| %>
              <%= value %><br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
