<p>
<%= link_to 'Back', domain_path %>
</p>

<p class='title'><%= @domain.fqdn %></p>
Last update : <%= @lastupdate %>
  <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/tls/update/#{@domain.id}" %>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Version</th>
        <th>Enabled</th>
      </tr>
    </thead>
    <% @tls.each do |t| %>
      <tr>
        <td><%= t&.version&.sub('_','.') %></td>
        <% clr='' ; clr='is-warning' if t.isused and t.version != 'TLSv1_2' %>
        <td class="<%= clr %>">
          <%= t.isused %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

