<h2 class='title'>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
  </div>

  <div class="actions">
    <%= f.submit "Send me a mail", class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
