<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class='container'>

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logo.webp">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nase">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="nase" class="navbar-menu">

      <div class="navbar-start">
        <a href='/' class='navbar-item is-hoverable'>Home</a>
        <a href='/domains' class='navbar-item'>Domains</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href='/guide'>Security guide</a></a>
          <div class="navbar-dropdown">
            <a class='navbar-item' href='/guide/dns'>DNS</a>
            <a class='navbar-item' href='/guide/header'>HTTP Headers</a>
            <a class='navbar-item' href='/guide/mail'>Mails</a>
            <a class='navbar-item' href='/guide/port'>Open ports</a>
            <a class='navbar-item' href='/guide/tls'>TLS/SSL</a>
            <a class='navbar-item' href='/guide/whois'>Whois (domain property)</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href='/tools'>Tools</a></a>
          <div class="navbar-dropdown">
            <a class='navbar-item' href='/tools/password'>Password generator <i class="fa fa-lock" aria-hidden="true"></i></a>
            <a class='navbar-item' href='/tools/csr'>CSR decoder <i class="fa fa-certificate" aria-hidden="true"></i></a>
            <a class='navbar-item' href='/tools/dig'>Dig <i class="fa fa-sitemap" aria-hidden="true"></i></a>
            <a class='navbar-item' href='/tools/dnspropagation'>DNS Propagation <i class="fa fa-sitemap" aria-hidden="true"></i></a>
            <a class='navbar-item' href='/tools/base64'>Base64 encoder/decoder <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            <hr class="navbar-divider">
            <a class='navbar-item' target='_blank' href='https://www.ssllabs.com/ssltest/'>Qualys SSL Labs <i class="fa fa-external-link" aria-hidden="true"></i></a>
            <a class='navbar-item' target='_blank' href='https://cryptcheck.fr/'>Cryptcheck <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </div>
        </div>
        <a href='#about' class='navbar-item'>About</i></a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
              <%= link_to ('<i class="fa fa-user"></i>').html_safe, '/users/edit', class: 'button is-primary is-outlined' %>
              <%= link_to ('<i class="fa fa-sign-out"></i>').html_safe, '/users/sign_out', method: :delete, class: 'button is-warning is-outlined' %>
            <% else %>
              <a href='/users/sign_up' class="button is-primary">Sign up</a>
              <a href='/users/sign_in' class="button is-light">Log in</a>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</nav>
