<p>
  <%= link_to 'Back', '/tools/password/' %>
</p>

<p>
  <p class='title'>Password generator <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/tools/password" %></p>
</p>

<p>
  <% @pass.each do |p| %>
    <pre class='pwgen'><%= p %></pre>
  <% end %>
</p>

