<div class="start">
  <%= form_with(model: @domain) do |form| %>
    <% if @domain.errors.any? %>
      <div id="error_explanation" class='notification is-warning'>
        <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

        <ul>
          <% @domain.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id='welcomebox'>
      <%= form.text_field :fqdn, autofocus: true, placeholder: "yourdomain.com", class: 'input is-primary is-large has-text-centered' %>
      <%= form.submit 'Check', :class => 'button is-primary is-large is-rounded' %>
    </div>
  <% end %>
</div>
