<p>
  <%= link_to 'Back', '/tools' %>
</p>

<%= render 'shared/alerts' %>

<p>
  <p class='title'>CSR decoder :</p>
</p>

<%= form_with url: '/tools/csr', method: :post do |form| %>
  <%= form.text_area :csr, size: '50x10', class: 'textarea is-primary',
    placeholder: "-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----" %><br/>
  <%= form.submit 'View', class: 'button is-primary' %>
<% end %>
