<h1 class='title'>Domains</h1>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Domain name</th>
        <th></th>
        <th><abbr title='DNS records'>DNS</abbr></th>
        <th><abbr title='Headers'>Hdr</abbr></th>
        <th><abbr title='Mail configuration'>Mail</abbr></th>
        <th><abbr title='Open Ports'>Ports</abbr></th>
        <th><abbr title='TLS Versions'>TLS</abbr></th>
        <th><abbr title='Whois'>Whois</abbr></th>
      </tr>
    </thead>

    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><%= domain.fqdn %></td>
          <td>
            <%= link_to ('<i class="fa fa-eye" aria-hidden="true"></i>').html_safe, domain %>
            <%= link_to ('<i class="fa fa-refresh" aria-hidden="true"></i>').html_safe, "/domains/update/#{domain.id}" %>
            <%= link_to ('<i class="fa fa-trash"></i>').html_safe, domain, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <td><%= link_to ('<i class="fa fa-sitemap"></i>').html_safe, "/dns/#{domain.id}" %></td>
          <td><%= link_to ('<i class="fa fa-header"></i>').html_safe, "/header/#{domain.id}" %></td>
          <td><%= link_to ('<i class="fa fa-envelope"></i>').html_safe, "/mail/#{domain.id}" %></td>
          <td><%= link_to ('<i class="fa fa-sign-in"></i>').html_safe, "/port/#{domain.id}" %></td>
          <td><%= link_to ('<i class="fa fa-lock"></i>').html_safe, "/tls/#{domain.id}" %></td>
          <td><%= link_to ('<i class="fa fa-vcard"></i>').html_safe, "/whois/#{domain.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Domain', '/' %>
