<p>
  <%= link_to 'Back', '/domains' %>
</p>

<p class='title'><%= @domain.fqdn %></p>
<p>
  <%= link_to ('<i class="fa fa-refresh" aria-hidden="true"></i>').html_safe, "/domains/update/#{@domain.id}" %> (takes few minutes)
</p>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <tbody>
      <tr>
        <td>DNS records</td>
        <td>
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, "/dns/#{@domain.id}" %>
        </td>
      </tr>
      <tr>
        <td>HTTP headers</td>
        <td>
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, "/header/#{@domain.id}" %>
        </td>
      </tr>
      <tr>
        <td>Mail configuration</td>
        <td>
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, "/mail/#{@domain.id}" %>
        </td>
      </tr>
      <tr>
        <td>Open Ports</td>
        <td>
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, "/port/#{@domain.id}" %>
        </td>
      </tr>
      <tr>
        <td>TLS configuration</td>
        <td>
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, "/tls/#{@domain.id}" %>
        </td>
      </tr>
      <tr>
        <td>Whois</td>
        <td>
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, "/whois/#{@domain.id}" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
