.footer { margin-top: 100px; }
.master { background-color: white; }
.grepon { 
  background: url('/images/grepon.webp') no-repeat fixed top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

#csr {
  text-align: left;
  margin: auto;
  width: 400px;
}

.pwgen {
  font-size: 16pt;
  background: #cccccc;
  padding: 5px;
  width: 250px;
  margin: auto auto;
}

.splashscreen {
  background: url('/images/grepon.webp') no-repeat fixed left top;
  background-size: cover;
  height: 500px;
}
.start { margin-top: 100px; }
.thetitle { font-size: 40px; }
.thesubtitle { font-size: 28px; }
pre { background-color: lightgrey !important; }
