<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">DNS security</p>
      <p class="subtitle">
        <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <table class="table">
    <thead>
      <tr>
        <th>Record</th>
        <th>Role</th>
        <th>Guidelines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>IPv4 address for a domain name.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>AAAA</td>
        <td>IPv6 address for a domain name.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>AXFR</td>
        <td>Zone transfer for a domain. Must not answer.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>CAA</td>
        <td>Define which certificate authorities (CA) could deliver certificates for this domain.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>CNAME</td>
        <td>Alias (another name) for a domain name.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>DNSKEY, KEY, SIG, RRSIG</td>
        <td>Used for DNSSec.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>MX</td>
        <td>Mail exchangers (which receive mails for a domain).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>NS</td>
        <td>Name servers for a domain.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>PTR</td>
        <td>Domain name for an IP address (v4 or v6).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>SOA</td>
        <td>Define the primary domain name server.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>SRV</td>
        <td>Define specific servers for specific services (for example, used for load balancing).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>TXT</td>
        <td>Could contain any string (like a key/value DB). Often used by some
        services to authenticate your domain.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>...</td>
        <td><td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
