<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">Headers security</p>
      <p class="subtitle">
      <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <table class="table">
    <thead>
      <tr>
        <th>Header</th>
        <th>Role</th>
        <th>Guidelines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content-Security-Policy</td>
        <td>Control resources you provide to your clients.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Feature-Policy / Permissions-Policy</td>
        <td>Specify which feature can be used in your webpage (microphone, webcam, ...).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>HTTP &gt; HTTPS Redirect</td>
        <td>Automate the redirect from HTTP to HTTPS</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Referrer-Policy</td>
        <td>Specify if your website can use the referrer information.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Server</td>
        <td>Indicate informations about your server (often name and version).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Set-Cookie</td>
        <td>Define some cookies to store on client side (need to be secured to avoid cookies theft).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Strict-Transport-Security</td>
        <td>Enforce HTTPS by telling to the browser that the website will provide HTTPS for a long time.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>X-AspNet-Version</td>
        <td>Indicates AspNet/DotNet framwork version.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>X-Content-Type-Options</td>
        <td>Indicate to the browser that the MIME type given in Content-Type header should be followed.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>X-Frame-Options</td>
        <td>Control/avoid usage of your website in an iframe of another.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>X-Powered-By</td>
        <td>Indicate name and version of your application server.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>X-XSS-Protection</td>
        <td>Avoid cross site scripts (reflected XSS)</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
