<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">Security guide</p>
      <p class="subtitle">
        <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <aside class="menu">
    <ul class="menu-list">
      <li><a href='/guide/dns'>DNS <i class="fa fa-sitemap" aria-hidden="true"></i></a></li>
      <li><a href='/guide/header'>HTTP Headers <i class="fa fa-header" aria-hidden="true"></i></a></li>
      <li><a href='/guide/mail'>Mail <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href='/guide/port'>Open ports <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
      <li><a href='/guide/tls'>TLS configuration <i class="fa fa-lock" aria-hidden="true"></i></a></li>
      <li><a href='/guide/whois'>Whois <i class="fa fa-vcard" aria-hidden="true"></i></a></li>
    </ul>
  </aside>
</div>
