<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">TLS security</p>
      <p class="subtitle">
      <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <table class="table">
    <thead>
      <tr>
        <th>Protocol</th>
        <th>Danger</th>
        <th>Guidelines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SSL (all versions)</td>
        <td>SSL is a very (very) old protocol (from 1995 to 1998). All versions were deprecated in 2015 after the POODLE vulnerability.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>TLS &lt; v1.2</td>
        <td>Old protocols, too weak now. Deprecated by well known browsers in March 2020.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>TLS v1.2</td>
        <td>Today's standard. If used with good cyphers and good practices for keys protection, it could be sure.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>TLS v1.3</td>
        <td>Should be used on most servers because it's the most rapid and secure protocol.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Cyphers</td>
        <td>You have to only use the modern cyphers. Implementations in web servers always use weak cyphers.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
