<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">Domain property security</p>
      <p class="subtitle">
      <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <p class='block'>The domain name and all its subdomains must be registered,
    owned and managed by the company. No delegations should exist.</p>
  <p class='block'>You must be warned before the <strong>expiry date</strong>
    to renew it.</p>
  <p class='block'>Some Website like <a href='https://www.expireddomains.net/' target='_blank'>expireddomains.net</a> references all expired domains.</p>
  <p class='block'>Use tools to follow the domain names which includes your trademarks.</p>
</div>
