
<p>
  <%= link_to 'Back', '/tools/dnspropagation' %>
</p>

<p>
  <p class='title'>DNS Propagation :</p>
</p>

<div class="table-container">
  <table id='csr' class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>DNS Server</th>
        <th>Response</th>
      </tr>
    </thead>
    <% @hash.each do |h| %>
      <tr>
        <td class='csrkey'><%= h[0] %></td>
        <td class='csrval'><%= h[1] %></td>
      </tr>
    <% end %>
  </table>
</div>
